.container {
  height: 600px;
  width: 100%;
}
.container2 {
  height: 800px;
  width: 100%;
}
.container3 {
  height: 600px;
  width: 100%;
}
.title {
  display: block;
  text-align: center;
  font-size: 40px;
}
